<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Register</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="enter your name" name="name">
        <input type="text" placeholder="enter your username" name="username">
        <input type="text" placeholder="enter your email" name="email">
        <input type="text" placeholder="enter your password" name="password">
        <button>Register</button>
    </form>
</body>
</html>